# [Vehicle-Sales-Data](https://www.kaggle.com/datasets/syedanwarafridi/vehicle-sales-data)

In [32]:
import pandas as pd

## - Read Data

In [33]:
df = pd.read_csv("./data/car_prices.csv")

## - Explore Data

In [34]:
df.head(2)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)

In [35]:
df.tail(2)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [37]:
df.apply(lambda x: f"{x.dtype} {x.nunique()} {x.unique()}")

year            int64 34 [2015 2014 2013 2012 2011 2010 2009 2...
make            object 96 ['Kia' 'BMW' 'Volvo' 'Nissan' 'Chevr...
model           object 973 ['Sorento' '3 Series' 'S60' '6 Seri...
trim            object 1963 ['LX' '328i SULEV' 'T5' ... 'pure'...
body            object 87 ['SUV' 'Sedan' 'Convertible' 'Coupe'...
transmission    object 4 ['automatic' nan 'manual' 'Sedan' 'se...
vin             object 550297 ['5xyktca69fg566472' '5xyktca69f...
state           object 64 ['ca' 'tx' 'pa' 'mn' 'az' 'wi' 'tn' ...
condition       float64 41 [ 5. 45. 41. 43.  1. 34.  2. 42.  3...
odometer        float64 172278 [ 16639.   9393.   1331. ... 20...
color           object 46 ['white' 'gray' 'black' 'red' 'silve...
interior        object 17 ['black' 'beige' 'tan' '—' 'gray' 'b...
seller          object 14263 ['kia motors america  inc' 'finan...
mmr             float64 1101 [ 20500.  20800.  31900. ... 1820...
sellingprice    float64 1887 [ 21500.  30000.  27750. ... 1690...
saledate        object 3766 ['Tue Dec 16 2014 12:30:00 GMT-080...
dtype: object

In [38]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [39]:
df.describe(include='O')

,make,model,trim,body,transmission,vin,state,color,interior,seller,saledate
count,548536,548438,548186,545642,493485,558833,558837,558088,558088,558837,558825
unique,96,973,1963,87,4,550297,64,46,17,14263,3766
top,Ford,Altima,Base,Sedan,automatic,automatic,fl,black,black,nissan-infiniti lt,Tue Feb 10 2015 01:30:00 GMT-0800 (PST)
freq,93554,19349,55817,199437,475915,22,82945,110970,244329,19693,5334

## - Modifying and Clean Data

> Renamed the `'mmr' and 'vin'` column to `'Manheim_Market_Report' and 'vehicle_identification_number'` for `clarity`, as `'mmr'` represents the estimated wholesale market value based on auction data, which is `close` to the `selling price`.

> and `'VIN'` (Vehicle Identification Number) is a unique 17-character code that identifies a vehicle, including its manufacturer, model, year, and history.

In [40]:
df.rename(columns={"mmr":"manheim_market_report","vin":"vehicle_identification_number"},inplace=True)

In [41]:
df[["sellingprice","manheim_market_report"]].head()

   sellingprice  manheim_market_report
0       21500.0                20500.0
1       21500.0                20800.0
2       30000.0                31900.0
3       27750.0                27500.0
4       67000.0                66000.0

> I found these 26 observations have some issues

In [42]:
df.loc[(df["transmission"]== 'Sedan')|(df["transmission"]== 'sedan')]

,year,make,model,trim,body,transmission,vehicle_identification_number,state,condition,odometer,color,interior,seller,manheim_market_report,sellingprice,saledate
408161,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj4fm201708,NaN,46.0,4802,silver,gray,NaN,13200.0,16500
417835,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj2fm258506,NaN,1.0,9410,white,gray,NaN,13300.0,10500
421289,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj3fm276741,NaN,46.0,1167,blue,black,NaN,13200.0,12700
424161,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj2fm285365,NaN,1.0,2172,gray,black,NaN,14050.0,8250
427040,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj0fm227318,NaN,41.0,14872,gray,black,NaN,13700.0,14300
427043,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj6fm218641,NaN,49.0,12655,red,black,NaN,13850.0,14500
434424,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj7fm223475,NaN,46.0,15719,blue,black,NaN,13650.0,13500
444501,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj5fm297123,NaN,2.0,6388,white,black,NaN,13850.0,10700
453794,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj5fm219943,NaN,44.0,16633,silver,black,NaN,13600.0,13600
461597,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,automatic,3vwd17aj9fm219766,NaN,44.0,11034,black,black,NaN,13900.0,13000
461612,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,NaN,3vwd17aj3fm259017,NaN,46.0,2711,white,black,NaN,14250.0,14000
492484,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj5fm206111,NaN,2.0,6864,gray,black,NaN,14000.0,9800
497008,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj5fm273601,NaN,28.0,339,black,black,NaN,14300.0,12900
497011,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj5fm221322,NaN,48.0,18384,silver,black,NaN,13550.0,13500
499083,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj5fm268964,NaN,2.0,9887,red,black,NaN,13900.0,9900
501455,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj6fm231972,NaN,38.0,9837,red,black,NaN,13500.0,12900
505299,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,NaN,3vwd17aj7fm222388,NaN,36.0,20379,silver,black,NaN,13600.0,13500
505306,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj7fm218440,NaN,42.0,20627,white,black,NaN,13600.0,13500
520461,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17ajxfm315938,NaN,1.0,721,blue,gray,NaN,14100.0,8500
528996,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj7fm229552,NaN,38.0,6158,black,black,NaN,13650.0,13400
529009,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,NaN,3vwd17aj8fm298895,NaN,2.0,2817,red,black,NaN,13750.0,12200
529013,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj4fm236636,NaN,5.0,5705,—,black,NaN,13400.0,15250
529622,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj5fm225953,NaN,41.0,18561,black,black,NaN,13200.0,13100
548784,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj7fm326640,NaN,2.0,2846,blue,black,NaN,13600.0,7500
551222,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,NaN,3vwd17aj8fm239622,NaN,2.0,9562,silver,black,NaN,13200.0,12100
554710,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj2fm261566,NaN,48.0,5001,blue,gray,NaN,13400.0,13600

In [43]:
df.loc[(df["transmission"]== 'Sedan')|(df["transmission"]== 'sedan')].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 408161 to 554710
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           26 non-null     int64
 1   make                           26 non-null     object
 2   model                          26 non-null     object
 3   trim                           26 non-null     object
 4   body                           26 non-null     object
 5   transmission                   26 non-null     object
 6   vehicle_identification_number  22 non-null     object
 7   state                          26 non-null     object
 8   condition                      0 non-null      float64
 9   odometer                       26 non-null     float64
 10  color                          26 non-null     object
 11  interior                       26 non-null     object
 12  seller                         26 non-null     object
 13  manheim_market_report          0 non-null      float64
 14  sellingprice                   26 non-null     float64
 15  saledate                       26 non-null     object
dtypes: float64(4), int64(1), object(11)
memory usage: 3.5+ KB

### Searching For Null(nan) Values and dublicated observation.

> - I found that there are many values in body column are the same but in other case so I Titled all to reduce duplication
> - that help me to reduce the values Count from $88 \to 47$

In [44]:
print(len(df["body"].unique()))
df["body"] = df["body"].str.title()  # Capitalizes each word (e.g., "g37 convertible" → "G37 Convertible")
print(len(df["body"].unique()))

88
47

In [45]:
df[df["body"].str.contains("Sedan", na=False)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248760 entries, 2 to 558835
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   year                           248760 non-null  int64
 1   make                           248760 non-null  object
 2   model                          248662 non-null  object
 3   trim                           248760 non-null  object
 4   body                           248760 non-null  object
 5   transmission                   222327 non-null  object
 6   vehicle_identification_number  248760 non-null  object
 7   state                          248760 non-null  object
 8   condition                      244288 non-null  float64
 9   odometer                       248727 non-null  float64
 10  color                          248397 non-null  object
 11  interior                       248397 non-null  object
 12  seller                         248760 non-null  object
 13  manheim_market_report          248749 non-null  float64
 14  sellingprice                   248749 non-null  float64
 15  saledate                       248749 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 32.3+ MB

In [61]:
print(df["body"].unique(),len(df["body"].unique()),"value")

['Suv' 'Sedan' 'Convertible' 'Coupe' 'Wagon' 'Hatchback' 'Crew Cab'
 'G Coupe' 'G Sedan' 'Elantra Coupe' 'Genesis Coupe' 'Minivan' nan 'Van'
 'Double Cab' 'Crewmax Cab' 'Access Cab' 'King Cab' 'Supercrew'
 'Cts Coupe' 'Extended Cab' 'E-Series Van' 'Supercab' 'Regular Cab'
 'G Convertible' 'Koup' 'Quad Cab' 'Cts-V Coupe' 'G37 Convertible'
 'Club Cab' 'Xtracab' 'Q60 Convertible' 'Cts Wagon' 'G37 Coupe' 'Mega Cab'
 'Cab Plus 4' 'Q60 Coupe' 'Cab Plus' 'Beetle Convertible'
 'Tsx Sport Wagon' 'Promaster Cargo Van' 'Granturismo Convertible'
 'Cts-V Wagon' 'Ram Van' 'Transit Van' 'Navitgation' 'Regular-Cab'] 47 value

In [66]:
df["state"].unique()

array(['ca', 'tx', 'pa', 'mn', 'az', 'wi', 'tn', 'md', 'fl', 'ne', 'nj',
       'nv', 'oh', 'mi', 'ga', 'va', 'sc', 'nc', 'in', 'il', 'co', 'ut',
       'mo', 'ny', 'ma', 'pr', 'or', 'la', 'wa', 'hi', 'qc', 'ab', 'on',
       'ok', 'ms', 'nm', 'al', '3vwd17aj4fm201708', 'ns',
       '3vwd17aj2fm258506', '3vwd17aj3fm276741', '3vwd17aj2fm285365',
       '3vwd17aj0fm227318', '3vwd17aj6fm218641', '3vwd17aj7fm223475',
       '3vwd17aj5fm297123', '3vwd17aj5fm219943', '3vwd17aj9fm219766',
       '3vwd17aj3fm259017', '3vwd17aj5fm206111', '3vwd17aj5fm273601',
       '3vwd17aj5fm221322', '3vwd17aj5fm268964', '3vwd17aj6fm231972',
       '3vwd17aj7fm222388', '3vwd17aj7fm218440', '3vwd17ajxfm315938',
       '3vwd17aj7fm229552', '3vwd17aj8fm298895', '3vwd17aj4fm236636',
       '3vwd17aj5fm225953', '3vwd17aj7fm326640', '3vwd17aj8fm239622',
       '3vwd17aj2fm261566'], dtype=object)

In [47]:
df.isna().sum()

year                                 0
make                             10301
model                            10399
trim                             10651
body                             13195
transmission                     65352
vehicle_identification_number        4
state                                0
condition                        11820
odometer                            94
color                              749
interior                           749
seller                               0
manheim_market_report               38
sellingprice                        12
saledate                            12
dtype: int64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   year                           558837 non-null  int64
 1   make                           548536 non-null  object
 2   model                          548438 non-null  object
 3   trim                           548186 non-null  object
 4   body                           545642 non-null  object
 5   transmission                   493485 non-null  object
 6   vehicle_identification_number  558833 non-null  object
 7   state                          558837 non-null  object
 8   condition                      547017 non-null  float64
 9   odometer                       558743 non-null  float64
 10  color                          558088 non-null  object
 11  interior                       558088 non-null  object
 12  seller                         558837 non-null  object
 13  manheim_market_report          558799 non-null  float64
 14  sellingprice                   558825 non-null  float64
 15  saledate                       558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [49]:
df.loc[df["make"].isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10301 entries, 742 to 558776
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           10301 non-null  int64
 1   make                           0 non-null      object
 2   model                          0 non-null      object
 3   trim                           0 non-null      object
 4   body                           0 non-null      object
 5   transmission                   8540 non-null   object
 6   vehicle_identification_number  10301 non-null  object
 7   state                          10301 non-null  object
 8   condition                      10214 non-null  float64
 9   odometer                       10297 non-null  float64
 10  color                          10286 non-null  object
 11  interior                       10286 non-null  object
 12  seller                         10301 non-null  object
 13  manheim_market_report          10301 non-null  float64
 14  sellingprice                   10301 non-null  float64
 15  saledate                       10301 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 1.3+ MB

In [50]:
df.loc[df["vehicle_identification_number"].isna()]

,year,make,model,trim,body,transmission,vehicle_identification_number,state,condition,odometer,color,interior,seller,manheim_market_report,sellingprice,saledate
461612,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,Sedan,NaN,3vwd17aj3fm259017,NaN,46.0,2711,white,black,NaN,14250.0,14000
505299,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,NaN,3vwd17aj7fm222388,NaN,36.0,20379,silver,black,NaN,13600.0,13500
529009,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,NaN,3vwd17aj8fm298895,NaN,2.0,2817,red,black,NaN,13750.0,12200
551222,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,NaN,3vwd17aj8fm239622,NaN,2.0,9562,silver,black,NaN,13200.0,12100

In [51]:
df.iloc[529009:529014]

,year,make,model,trim,body,transmission,vehicle_identification_number,state,condition,odometer,color,interior,seller,manheim_market_report,sellingprice,saledate
529009,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,NaN,3vwd17aj8fm298895,NaN,2.0,2817,red,black,NaN,13750.0,12200
529010,2015,Nissan,Versa,1.6 SL,Sedan,automatic,3n1cn7ap4fl825427,ga,31.0,10100.0,white,black,carworks inc,10250.0,10500.0,Thu Jun 11 2015 03:00:00 GMT-0700 (PDT)
529011,2015,Toyota,Camry Hybrid,SE,Sedan,automatic,4t1bd1fk4fu143249,in,38.0,12303.0,black,gray,chrysler capital,26000.0,23600.0,Thu Jun 11 2015 03:10:00 GMT-0700 (PDT)
529012,2015,Toyota,Corolla,LE,Sedan,automatic,2t1burhe5fc249216,nv,46.0,6345.0,green,beige,centennial buick gmc,14650.0,14500.0,Fri Jun 12 2015 04:55:00 GMT-0700 (PDT)
529013,2015,Volkswagen,Jetta,SE PZEV w/Connectivity,Navitgation,sedan,automatic,3vwd17aj4fm236636,NaN,5.0,5705,—,black,NaN,13400.0,15250

In [52]:
df.loc[(df["body"]=="Navitgation") | (df["model"]=="Jetta")]

,year,make,model,trim,body,transmission,vehicle_identification_number,state,condition,odometer,color,interior,seller,manheim_market_report,sellingprice,saledate
566,2013,Volkswagen,Jetta,SE PZEV,Sedan,automatic,3vwdp7aj7dm408489,ca,44.0,38680.0,white,black,avis rac/san leandro,10900.0,11800.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
584,2013,Volkswagen,Jetta,TDI,Sedan,automatic,3vwll7aj9dm365104,ca,38.0,34988.0,gray,black,sierra auto investment co,16150.0,15500.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
596,2013,Volkswagen,Jetta,SE PZEV,Sedan,automatic,3vwdp7aj3dm427539,ca,33.0,39554.0,black,black,avis corporation,10850.0,11400.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
614,2013,Volkswagen,Jetta,SE PZEV,Sedan,automatic,3vwdp7aj4dm419482,ca,27.0,36874.0,blue,black,avis corporation,11050.0,11500.0,Thu Dec 18 2014 11:30:00 GMT-0800 (PST)
645,2013,Volkswagen,Jetta,SE PZEV,Sedan,automatic,3vwdp7aj1dm402803,ca,4.0,37508.0,black,black,avis corporation,10950.0,11600.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558354,2010,Volkswagen,Jetta,Limited Edition PZEV,Sedan,NaN,3vwrz7aj6am157914,pa,26.0,61525.0,gray,black,automotive online solutions inc,8225.0,8000.0,Fri Jun 19 2015 02:15:00 GMT-0700 (PDT)
558355,2010,Volkswagen,Jetta,SportWagen TDI,Wagon,manual,3vwpl7aj5am662772,pa,29.0,113072.0,black,black,koons tysons toyota,9375.0,8500.0,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
558555,2013,Volkswagen,Jetta,SEL PZEV,Sedan,NaN,3vwlp7aj5dm360907,pa,41.0,26420.0,black,black,melvin g rhoades auto sales llc,15100.0,15800.0,Fri Jun 19 2015 02:15:00 GMT-0700 (PDT)
558622,2007,Volkswagen,Jetta,Wolfsburg Edition PZEV,Sedan,automatic,3vweg71k77m132767,pa,41.0,110880.0,white,tan,r hollenshead auto sales inc,3900.0,5100.0,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
558714,2003,Volkswagen,Jetta,GLS 1.8T,Sedan,automatic,3vwse69mx3m114475,fl,2.0,133319.0,silver,gray,metro ford inc,1425.0,700.0,Fri Jun 19 2015 02:30:00 GMT-0700 (PDT)

In [53]:
df["transmission"].unique()

array(['automatic', nan, 'manual', 'Sedan', 'sedan'], dtype=object)